.container {
    margin: 0px 16px;
    max-width: 100%;
    
}

.imagem1 {
    width: 90%;
    margin:2em 3em 0 0;
}

.container__texto {
    width: 100%;
    padding-top: 10px;
    font-family: 'Sora', sans-serif;   
}

.container__titulo {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.6;
}

.container__paragrafo {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.8;
}

.sociais {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 1em 0;
}

.sociais__link {
    padding-left: 15px;
}


@media only screen and (min-width: 1008px){
    .container {
    background-image: url('../../img/Frame20.png');
    background-repeat: no-repeat;
    background-position: right top;
    margin: 20px 80px;
    height: 40em;
    background-size: 44em;
}

.imagem1 {
    display: none;
}

.container__texto {
    width: 410px;
    padding-top: 60px;
    font-family: 'Sora', sans-serif;    
}

.container__titulo {
    font-size: 32px;
}

.sociais {
    display: block;
    margin: 30px 0px;
}

.desenvolvedor {
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

}


@media only screen and (min-width: 1310px){

.container {
    margin: 50px 80px;
    background-size: 55em;
}


.container__texto {
    width: 600px;
    padding-top: 90px;  
}

.container__titulo {
    font-size: 42px;
}

.sociais {
    margin: 75px 0px;
}


.desenvolvedor {
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-size: 56px;
}


}