.container {
    background-color: black;
    color: white;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.footer {
    text-align: center;
}

.made{
    color: white;
    opacity: 0.8;

}

.email {
    color: white;
    opacity: 0.5;
}