.container {
    padding: 1rem 0;
    width: 100%;
    background-color: black;
    color: white;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2em;
    
    
}

.footer {
    text-align: center;
}

.made{
    color: white;
    opacity: 0.8;

}

.email {
    color: white;
    opacity: 0.5;
}

